<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<title>Play</title>
</head>
<body>
	<div class = "main gamepage">
		<h1 id="play">
			Type a key word or phrase related <br> to the image content and press enter:
		</h1>
		<img id="trial-image" src="{{ image_url }}">
		<br><br>
		<input id="image-description" type="text" name="description" placeholder="  Your Image Description" onkeypress="updateScore(event)">
		<h2>Score:</h2>
		<h3 id="score">0</h3>
</body>
</html>
<script>
	var score = 0
	var translated = [];
	{% for label in labels %}
	translated.push('{{ label }}');
	{% endfor %}
	console.log(translated);
	function updateScore(e){
		if(e.keyCode == 13){
			if(translated.indexOf(document.getElementById("image-description").value) >= 0){
			score++;
			document.getElementById("score").innerHTML = score;
			document.getElementById("image-description").value = "";
			}
		}

	}
</script>